{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} Somme {% endblock %}

{% block body %}
   <div > {{ mntaa }} {{ mntbb }}</div>
   <div class="result">{{ som }}</div>
{% endblock body %}




